* {
    /* o "*" significa "universal", significa que vai aplicar isso em todos os elementos */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* 
    
    background-color: black;
    background-image: url(./); -- > 
    background-repeat: no-repeat;
    background-position: top center;
    background-sixe: cover;
    
    Toda essa parte superior pode se resumir na parte seguinte (shorthand/atalho):*/

    /*background: color image repeat position/size */
    background: black url(./assets/background_image_darkmode.png) no-repeat top center/cover    
}

body * {
    /* o "*" depois do "body" significa "universal", significa que vai aplicar isso em todo o corpo/body */
        font-family: "Kanit", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: white;
}

#container {

    width: 360px;
    /* 
    margin-right: auto;
    margin-left: auto; 
    
    Esses dois sao responsaveis por deixar a "caixa" (div) no centro e pode ser resumida na seguinta propriedade: */
    margin: 56px auto 0px;
    display: block;
    /* "display: block" deixa a "caixa" (div) bloqueada, usando todo o espaço da tela (horizontalmente), mesmo que o texto nao precise de todo o espaço */
    /* O display pode ser "inline" ou "block", mas depende da propriedade. "Div", por exemplo é block, enquando "img" é inline */
    padding-top: 56px;
    padding: 0 24px;

}


#profile {
    text-align: center;
    padding: 24px;
}
#profile img {
    width: 112px;
}
#profile p {
    font-weight: 400;
    line-height: 24px;
    margin-top: 8px;
}

/*links*/

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

ul li {
    text-align: center;
   
    
}

ul li a {
    display: flex;
    justify-content: center;
    padding: 16px 24px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;

    backdrop-filter: blur (4px);
    -webkit-backdrop-filter: blur(4px);
    /* esse webkit é para que seja compativel com algumas versoes web... para verificar, usar o site "caniuse.com" */
    
    text-decoration: none;

    transition: all 0.2s;
}

/*pseudo-selector*/
/* aqui é quando se passa o mouse em cima e há uma interação com o botão */
ul li a:hover {
    background: rgba(255, 255, 255, 0.05);
    border: 1.5px solid white;
}

